<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="assets/styles/app.css" rel="stylesheet">
    <script src="assets/scripts/app.js" defer></script>
    <!-- favicon-->
    <link rel="icon" type="image/png" href="../assets/images/icone-bot-bienvenue.png">
    <link rel="apple-touch-icon" type="image/svg" href="../assets/images/icone-bot-bienvenue.png">
    <title>
        {% block page_title %}
            Page Title
        {% endblock %}
    </title>

    {% block meta %}
      <meta name="description" content="Découvrez des projets innovants réalisés par nos étudiants talentueux, explorant les frontières de la créativité et de la technologie.">
      <meta name="keywords" content="étudiants, projets étudiants, innovation, créativité, technologie, éducation">
      <meta name="author" content="Haute Êcole Albert Jacquard - DWT">
      <!-- Open Graph Meta Tags pour Facebook, LinkedIn, etc -->
      <meta property="og:title" content="Projets d'étudiants - HEAJ">
      <meta property="og:description" content="Plongez dans notre galerie de projets étudiants et découvrez les idées qui façonnent l'avenir.">
      <meta property="og:image" content="https://justin.willemet.be/projets/ilab//assets/images/card.png">
      <meta property="og:url" content="https://justin.willemet.be/projets/ilab/listing.php">
      <meta property="og:type" content="website">
      <!-- Twitter Card data -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Projets d'étudiants - HEAJ">
      <meta name="twitter:description" content="Explorez les projets de pointe développés par nos étudiants.">
      <meta name="twitter:image" content="https://justin.willemet.be/projets/ilab//assets/images/card.png">
    {% endblock %}

    {% block head__scripts %}

    {% endblock %}
</head>
<body>
  <header>
    {% block content__header %}

    {% endblock %}
  </header>
    <main>
        {% block content %}
            No content
        {% endblock %}
    </main>

    <footer class="footerText">
        <p>© Pina & Justin & Dorian & Jodrick & Nicolas – <span class="annee"></span> in DWT @ HEAJ</p>
    </footer>

</body>
</html>
