{% extends 'base.twig' %}

{% block page_title %}

  {{ title }}

{% endblock %}


{% block head__scripts %}
  <script src="assets/scripts/app.js" defer></script>
{% endblock %}


{% block body__class %}
body__listing
{% endblock %}



{% block content__header %}
  {% include 'partials/botHeader.twig' %}
{% endblock %}


{% block content %}
<div class="container">
  <div class="grid listing">

    {% for projet in projets %}

      {% set pattern = projet.pattern %}

      {% include 'partials/projectCard.twig' %}

    {% endfor %}

  </div>
</div>

<div class="filters">
  <button class="filters__btn">Filtres</button>
  <form action="listing.php" method="GET" name="formFilter" id="formFilter" class="filters__form filters__form--hidden">
    <button class="filters__btn filters__btn--close" type="submit">Fermer</button>
    {% for option in options %}
      {% include 'partials/optionFilter.twig' %}
    {% endfor %}
  </form>
</div>



{% endblock %}
