{% extends 'base.twig' %}

{% block page_title %}

  {{ title }}

{% endblock %}

{% block body__class %}
body__listing
{% endblock %}



{% block content__header %}
<div class="icone__botBienvenue">
<img src="assets/images/description_bot.png" alt="icone bot bienvenue" srcset="">
</div>
<div class="bulle__message">
  Salut, moi c’est <span class="nom__bot title"> NO-ID </span>
  Touche un projet et je t’apprendrai tout ce dont tu as besoin de savoir !
</div>
{% endblock %}


{% block content %}
<div class="container">
  <div class="grid listing">

    {% for projet in projets %}

      {% set pattern = projet.pattern %}

      {% include 'partials/projectCard.twig' %}

    {% endfor %}

  </div>
</div>

<div class="filters">
  <form action="/listing.php" method="GET" name="formFilter" id="formFilter" class="filters__form">
    {% for option in options %}
      {% include 'partials/optionFilter.twig' %}
    {% endfor %}
  </form>
</div>



{% endblock %}
