{% extends 'base.twig' %}

{% block page_title %}

  {{ title }}

{% endblock %}



{% block content__header %}
<div class="icone__botBienvenue">
<img class="animme__noid" src="assets/images/icone-bot-bienvenue.png" alt="icone bot bienvenue" >
</div>
<div class="bulle__message bg-blue-500 ">
  Salut, moi c’est <span class="nom__bot title"> NO-ID </span>
  Touche un projet et je t’apprendrai tout ce dont tu as besoin de savoir !
</div>
{% endblock %}


{% block content %}
  <h1 class="title title--big title--marg ">{{ title }}</h1>
<div class="container ">
  <div class="grid ">

    {% for projet in projets %}

      {% include 'partials/projectCard.twig' %}

    {% endfor %}

  </div>
</div>


<div class="filter">
  <form action="/listing.php" method="GET" name="formFilter" class="formFilter" id="formFilter">
    {% for option in options %}
      {% include 'partials/optionFilter.twig' %}
    {% endfor %}
  </form>
</div>




{% endblock %}
