.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

  /* Prend 1 colonne (1/3 de la largeur totale) */
  .one-col {
    grid-column: span 1;
  }

  /* Prend 2 colonnes (2/3 de la largeur totale) */
  .two-cols {
    grid-column: span 2;
  }

  /* Prend 3 colonnes (3/3 de la largeur totale) */
  .three-cols {
    grid-column: span 3;
  }
}
