.listing{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 30px;

  /* Prend 1 colonne (1/12 de la largeur totale) */
  .one-col {
    grid-column: span 1;
  }

  /* Prend 2 colonnes (2/12 soit 1/6 de la largeur totale) */
  .two-cols {
    grid-column: span 2;
  }

  /* Prend 3 colonnes (3/12 soit 1/4 de la largeur totale) */
  .three-cols {
    grid-column: span 3;
  }

  .projectCard{
    position: relative;
    height: 380px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;

    &__img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      z-index: -10;
    }
  }

  .projectContent{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(00, 0, 0, 1));
    color: white;
    padding: 40px 20px 14px 20px;
    z-index: 100;

    &__title{
      font-size: 48px;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 100%;
    }

    &__reals{
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center;
      font-size: 24px;
      line-height: 140%;
    }

    &__option{
      color: #F45D01;
      font-weight: 900;
    }
  }
}


