@import 'utils/variables';
@import 'components/type';
@import '../../node_modules/modern-normalize/modern-normalize.css';
@import 'components/header.scss';
@import 'components/optionfiltre.scss';
@import 'components/gridListing.scss';
@import 'components/projetchoisi.scss';
@import 'components/auteurs.scss';
@import 'components/projetSmilaire.scss';
@import 'components/descripProjet.scss';
@import 'components/projet.scss';
@import 'components/animationNoid.scss';
@import 'components/student.scss';



body{
    background-image: url(../images/background.svg);
    background-size: contain;
    font-size: 28px;
    font-family: 'Space Grotesk', sans-serif;
}

main{
    padding: 20px;
}

*{
    margin: 0;
    padding: 0;
}


// titre
title {
    color: #f45d01;
}

.title--big{
    font-size: 40px;
    
}

.title--marg{
    margin: 90px 0 50px 0;
}

.title--small{
    font-size: 38px;
}

// image du projet
img {
    width: 100%;
}

// footer

footer {
    margin-top: 50px;
}





