<div class="bot">
  <div class="bot__bulle">
    <img src="assets/images/noid.gif" alt="icone du robot" class="bot__icon">
  </div>



  <div class="bot__msg">
    {{ messageHeader|raw }}
  </div>
</div>



