<!-- Icône du bot dans un rond -->
<div class="  bg-blue-500 ">
  <!-- Insérez ici votre icône -->
</div>

<div class="grid__projet grid__projet--marg ">
  <!-- Nom du bot -->
  <h4 class="">NO-ID</h4>

  <!-- Bulle de message -->
  <div class="bulle__message bg-blue-500 ">
    {{ message }}
  </div>
  <div class="icone__bot  bg-blue-500 ">
    <!-- Insérez ici votre icône -->
    <img src="assets/images/description_bot.png" alt="icone du robot" >
  </div>
</div>



