<!-- Icône du bot dans un rond -->
<div class="  bg-blue-500 ">
  <!-- Insérez ici votre icône -->
</div>

<div class="grid__projet projet--marg ">
  <!-- Nom du bot -->
  <h4 class="marg--botton">NO-ID</h4>

  <!-- Bulle de message -->
  <div class="bulle__message bg-blue-500 ">
    {{ message }}
  </div>
  <div class="icone__bot blockanime bg-blue-500  ">
    <!-- Insérez ici votre icône -->
    <img class="animmePresentation__noid img--position" src="assets/images/description_bot.png" alt="icone du robot" >
  </div>
</div>



