<div class="filters__filter">
  <input type="checkbox" value="{{ option.id }}" name="type[]" id="{{ option.id }}" class="hidden-checkbox" {% if option.id in selectedTypes %}checked{% endif %}>
  <label for="{{ option.id }}" class="custom-button">{{ option.nom }}</label>
</div>
