
<h4 class="font-semibold mb-2">Projets smilaire</h4>
<div class="container grid mx-auto">
  
  <div class=" grid-cols-3 gap-10 m-10">

    {% for projet in projetsSim %}

      {% for real in students %}

        {% if real.id == projet.etudiants %}

          {% set realisateur = real.nom %}

          {% include 'partials/projectCard.twig' %}

        {% endif %}

      {% endfor %}

    {% endfor %}



  </div>
</div>
