<div class="container">
  <div class="grid listing listing--sim">
  {% for projet in projetsSim %}

          {% set pattern = "one-col" %}
          {% include 'partials/projectCard.twig' %}

    {% endfor %}
  </div>
</div>

