



  
  <div class="">

    {% for projet in projetsSim %}

      {% for real in students %}

        {% if real.id == projet.etudiants %}

          {% set realisateur = real.nom %}

          {% include 'partials/projectCard.twig' %}

        {% endif %}

      {% endfor %}

    {% endfor %}



  </div>

